body{
    display: flex;
   
    justify-content: center;
    margin-top: 200px;
   
}
#container{
    margin-left: 50px;
    font-size: 30px;
}
#sub{
    display: flex;
    margin: 10px;
}
#btn1,#btn2{
    width: 90px;
    font-size: 40px;

}
#num{
    margin: 10px;
    font-size: 40px;
}
#btn3{
    width: 220px;
    font-size: 30px;
    margin: 10px;
    padding: 10px;

}
#head{
    font-weight: 600;
}