*{
    padding: 0;
    margin: 0;
}
section{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;

    
    
}
section:nth-child(1){
    background-color: #181717;
    display: flex;
    flex-direction:column;      
    color: white;
}
.logo{
    display: flex;
    margin-left: 77px;  
     /* margin-left: 150px; */
    margin-top: 66px;
}
#img1{
    width: 40px;
    margin-right: 20px;
}
#MYXERIACO{
    
font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    font-size: 20px;
}
.rock{
    
     font-family: 'Noto Sans', sans-serif;
    margin-top: 60px;
    margin-left: 77px;
    /* margin-left: 150px; */
    font-size: 120px;
    font-weight: 700;
    line-height: .9;
    width: 800px;
}
.date{
    
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
    margin-left: 77px;
    /* margin-left: 150px; */
    font-size: 33px;
}
button{
    /* margin-left: 77px; */
    /* margin-left: 150px; */
    padding: 24px;
    width: 262px;
    border-radius: 33px;
    border: 2px solid white;
    background-color: #181717;
    letter-spacing: 0.089em;
    color: white;
    font-size: 20px;
    margin-top: 33px;

}
section:nth-child(2){
    background-image:linear-gradient(rgba(37, 33, 33, 0.663),rgba(37, 33, 33, 0.663)),url(/images/2.1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
}

#para{
   
    font-size: 40px;
    line-height: 1.27083333em;
    text-align: center;
    color: white;
    width: 700px;
    font-family: 'Inclusive Sans', sans-serif;

}
span{
    font-style: italic;
    font-weight:600;
}

section:nth-child(3){
    background-color:#242222;
    color: white;
    display: flex;
    flex-direction:column;   
   
font-family: 'Roboto', sans-serif;
}
.fest{
    margin-top: 75px;
    font-size: 30px;
    /* margin-left: 74px; */margin-left: 150px;
    font-size: 50px;
}
.container20{
    display: flex;
    
    margin-top: 150px;
    /* margin-left:40px ; */margin-left:150px ;
    margin-right: 40px;
    
}
.loc,.dates,.times{
    margin-left:20px ;
    margin-right: 20px;  
    width: 300px;

}
.lines{
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(255, 255, 255);

}
.container20 p{
    font-size:22px ;
    
}
.same{
    /* font-size: 30px;
    font-weight:600 ; */
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    line-height: 1.26314958em;
    margin-bottom: 30px;
    
}
section:nth-child(4){
    background-color: #2e2b2b;
    color: white;
    display: flex;
    flex-direction:column;   
    

}
#perform{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    letter-spacing: 0.04em;
}
.simg{
   
    width:300px;
    margin-bottom:20px;
    padding-bottom: 43px;
    border-bottom: 2px solid white;
       
}
.nsimg{
   
    object-fit: cover;
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    padding-bottom: 43px;
    border-bottom: 2px solid white;

}
.container30{
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
}
.container30 div{
    margin-left: 8px;
    margin-right: 8px;
}
.container30 h2{
  font-size:25px ;
  
}
.container30 p{
 font-size:18px ;
 
 
}

section:nth-child(5){
    background-image: url(/images/7.png);
    display: flex;
    flex-direction:column;      
    color: white;
}

.container40{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.container40 button{
    
    padding: 22px;
    width: 210px;  
    font-size: 20px;
    margin-top: 33px;
    margin-bottom: 50px;
    margin-left: 10px;    

}
.lines2{
    border-top: 2px solid black;
    padding-top: 20px;
}
 .part5,.part6,.part7{

    border: 2px solid white;
    color: #181717;
    background-color: white;
    margin-left:10px;
    margin-right: 10px;
    padding: 37px;
    width: 300px;
    text-align: center;
}
.tick{
    font-size: 20px;
    margin-bottom: 10px;
}
.tday{
    font-size: 30px;
    font-weight: 800;
}
#ticket{
    margin-top: 70px;
    font-size: 56px;
    margin-left: 160px;


}
#content{
    margin-left: 160px;
    margin-top: 20px;
    font-size: 20px;
    letter-spacing: 0.05em;
    
}
#end{
    margin-top: 40px;
    margin-left: 160px;
    margin-bottom: 60px;
}
section:nth-child(6){
    background-color:#242222;
    display: flex;        
    color: white;
}
#img8{
    width: 85%;
}
.container50{
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 70px;
    
}
#rock2{
    font-size: 55px;
}
#rock3{
    margin-top: 10px;
    font-size: 23px;
}
#content2{
    line-height: 1.3em;
    margin-top: 130px;
    font-size: 18px;
    margin-bottom: 30px;
}
.container50 button{
    background-color: #242222;
    padding: 22px;
    width: 427px;
    font-size: 20px; 
    margin-left: -5px;

}
.container60{
    margin-top: 100px;
    margin-bottom: 70px;
}

.social{
    box-sizing: border-box;
    width: 85%;
    display: flex;
    justify-content: space-between;
    color: #242222;
    background-color: white;
    padding: 23px;
    font-size: 20px;

}
.social p{
    letter-spacing: 0.07em;
    margin-top: 20px;
    margin-left: 20px;
}
.icons{
    display: flex;
    
    font-size: 30px;
    
    
}
.icons i{
    border: 2px solid #242222;
    padding: 14px;
    border-radius: 100px;
    
    margin-right: 15px;
   
}