
{% extends 'index.html' %}
{% load static %}

{% block title %}index {% endblock %}


{% block content %}

<h1 >Children's Day</h1>
<p>Children's Day is celebrated in India to raise awareness about the rights, education, and welfare of children.
    It is celebrated on 14 November every year on the birthday of the first prime minister of India Pandit Jawaharlal Nehru,
    who was known to have been fond of children. On this day, many educational and motivational programs for children
    are held all over India.Some schools in India give leave to their students on Children's Day while private schools 
    organize a fair for their students.</p>
<img src="{% static '/images/nehru.jpg' %}">



{% endblock %}

