#box{
    width: 500px;
    margin: auto;
    text-align: center;
    font-size: 70px;
    
}
#pass{
    font-size: 30px;
    width: 436px;
    padding: 20px;
    border: 2px solid black;
}